@font-face {
  font-family: 'm&m';
  src: url("../assets/fonts/AachenStdMedium.otf");
}

#menu {
  position: absolute;
  height: 100%;
  width: 30%;
  min-width: 500px;
  overflow: hidden;
  border-right: 3px solid coral;
  z-index: 1;
  background: white;

  .action-btn {
    height: 60px;
    width: 60px;
    border-radius: 60px;
    cursor: pointer;

    &:hover {
      background-color: #e4e4e4;
    }

    img {
      height: 50%;
      width: auto;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .menu-header {
    position: absolute;
    width: 100%;
    height: 70px;

    .logo {
      position: absolute;
      width: 50%;
      height: 70%;
      overflow: hidden;
      text-align: left;
      margin: auto;
      top: 0;
      bottom: 0;

      img {
        height: 100%;
        width: auto;
        margin: auto;
        left: 10%;
        display: inline-block;
      }

      .logo-text {
        height: 100%;
        display: inline-block;
        font-size: 2em;
        color: coral;
        margin-left: 15px;
        position: relative;
        top: -30%;
        font-family: 'm&m';
        font-weight: bold;
      }
    }

    .location-upload-btn {
      position: absolute;
      right: 10px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  .location-list {
    position: absolute;
    top: 70px;
    margin: 20px 0 20px 0;
    bottom: 120px;
    left: 3%;
    right: 3%;
    overflow-y: scroll;
    border-top: 2px solid coral;
    border-bottom: 2px solid coral;
    padding-right: 5px;

    &::-webkit-scrollbar {
      background: transparent;
      width: 5px;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(255, 127, 80, 0.2);
      border-radius: 20px;
    }

    table {
      width: 100%;
      height: auto;
      border-collapse: collapse;

      tr {
        height: 70px;
        position: relative;
        opacity: 1;
        transition: opacity .2s linear;
        border-bottom: 2px solid #e4e4e4;

        &:hover {
          background: #e4e4e4;
        }

        &.hidden {
          opacity: .6;
        }

        td{
          padding-top: 5px;
          padding-bottom: 5px;
        }

        .company-name {
          width: 30%;
          padding-left: 10px;

          a {
            color: coral;
            font-size: 1em;
            font-family: cursive;
            font-weight: bold;
            cursor: pointer;
          }
        }

        .company-logo-wrapper {
          width: 20%;
          background-position: left center;
          background-size: 90% auto;
          background-repeat: no-repeat;
          cursor: pointer;
        }

        .company-info {
          width: 40%;
          color: coral;
          font-size: 1em;
          font-family: cursive;
          font-weight: bold;
          padding-left: 10px;
          cursor: pointer;
        }

        .item-hide {
          position: relative;
          width: 10%;
          cursor: pointer;

          img {
            height: auto;
            width: 50%;
          }
        }
      }
    }
  }

  .map-actions {
    position: absolute;
    bottom: 65px;
    height: 70px;
    min-height: 50px;
    width: 100%;
    text-align: center;

    .action-btn{
      position: relative;
      display: inline-block;
      margin: 0 10px 0 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-top: 2px solid coral;
    overflow: hidden;
    padding-top: 5px;
  }
}

#imageViewer {
  z-index: 2;
  width: 100%;
  height: 100%;

  .background {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background: darkgray;
  }

  .image-wrapper {
    width: 100%;
    height: 100%;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

#uploadInput {
  z-index: 2;
  width: 100%;
  height: 100%;

  .background {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background: darkgray;
  }

  .upload-area {
    background: white;
    width: 80%;
    height: 80%;
    border-radius: 25px;

    .close-upload-screen {
      position: absolute;
      right: 20px;
      top: 20px;
      height: 40px;
      width: 40px;

      img {
        height: 60%;
        width: auto;
      }
    }

    .upload-image {
      opacity: 0.2;
      height: 50%;
      width: auto;
    }

    input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
    }

    label {
      position: absolute;
      bottom: 5%;
      width: 100%;
      text-align: center;
      font-size: 2em;
      color: coral;

      span {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
